.product {
  display: flex;
  gap: 5px;
  padding: 1rem;
}

.productImage {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

.producInfo {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 4px;
}

.producInfo > p:first-child {
  font-weight: 700;
  color: gray;
}

.producInfo > button {
  border: 0;
  outline: 0;
  background-color: #ff9f00;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 10rem;
}
