.checkout {
  display: flex;
}

.checkoutLeft {
  padding: 1rem;
  flex: 9;
}

.checkoutLeft > img {
  width: 100%;
}

.checkoutTitle {
  padding: 1rem 5px;
}

.checkoutRight {
  padding: 1rem;
  flex: 3;
}

@media screen and (max-width: 768px) {
  .checkout {
    flex-flow: column-reverse;
  }

  .checkoutLeft > img {
    height: 4rem;
    object-fit: fill;
  }
  .checkoutTitle {
    font-size: 18px;
  }
}
