* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: #212529;
}

body::-webkit-scrollbar {
  width: 7px;
  background: #252529;
}
body::-webkit-scrollbar-thumb {
  width: 5px;
  background: gray;
  border-radius: 8px;
}
